*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth ;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
    --primaria: #1f2f52;
    --secundaria: #0D0D0D;
    --escuro: #00FF88;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--maisEscuro);
    color: var(--claro);
}

.navegacao{
    position: fixed;
    background: rgba(15, 23, 43, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

.menu-link{
     text-decoration: none;
     color: var(--claro);
     font-weight: 500;
     position: relative;
     padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(09deg,rgba(115, 0, 215, 0.647), rgb(64, 0, 255), black);
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;   /* centraliza verticalmente */
    align-items: center;       /* centraliza horizontalmente */
    flex-direction: column;    /* um embaixo do outro */
    text-align: center;        /* centraliza texto */
}

.foto-perfil{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
    box-shadow: 0 0 20px rgb(137, 184, 228);
    margin-bottom: 20px;       /* espaço entre foto e texto */
}


h1{
    margin-top: 3.5rem;
    color: var(--claro);
    font-weight: bold;
    margin: 20px ;
    font-family: "Syne", sans-serif;
    font-weight: 1000;

    
}

.cabecalho-sub-titulo{
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--claro);
}

.sobre{
    font-family: "Syne", sans-serif;
    padding: 6rem 2rem;
}

.sobre-titulo{
    font-family: "Syne", sans-serif;
    font-weight: 1000;
    color: linear-gradient(45deg, rgb(64, 0, 255), rgba(115, 0, 215, 0.647));
    font-family: "Syne", sans-serif;
    text-shadow: 0 0 10px rgb(98, 0, 255);
    font-size: 3rem;
    color: var(--claro);
    text-align:center;
    margin-bottom: 20px;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.05);

}

.sobre-paragrafo{
    text-align: center;
    font-size: 1rem;

}

/*==================PROJETOS===========================*/
.projetos{
    padding: 6rem 2rem;
}

.projeto-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-titulos{
    font-family: "Syne", sans-serif;
    text-shadow: 0 0 10px rgb(157, 183, 255);
    font-weight: 800;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover{
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);  /* translateY-> movimentação   scale->> zoom*/

}

.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card{
    
    width: 400px;
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.caixa-texto-projeto{
    
    padding: 1.5rem;
}

.paragrafo-projetos{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos{
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
}





.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}



.campo-form:focus{  
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(50, 11, 225, 0.647);

}
.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
background: linear-gradient(45deg, rgb(64, 0, 255), rgba(115, 0, 215, 0.647));
padding: 1rem 2rem;
border: none;
border-radius: 8px;
cursor: pointer;
transition: all 0.5s ease;
font-weight: bold;
width: 100%;
}

.botao-form:hover{
    transform: translate(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);

}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
    background: 
        radial-gradient(circle at 90% 20%, rgba(96, 4, 188, 0.992), transparent 20%),
        radial-gradient(circle at 80% 90%, rgb(170, 52, 177), transparent 40%),
        var(--maisEscuro);    background-size: 200% 200%;
    animation: particulas-animate 20s ease infinite;
}

@keyframes particulas-animate {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }}


.particulas2{
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
    background: 
        radial-gradient(circle at 90% 20%, rgba(4, 10, 188, 0.729), transparent 20%),
        radial-gradient(circle at 80% 90%, rgb(170, 52, 177), transparent 40%),
        var(--maisEscuro);    background-size: 200% 200%;
    animation: particulas-animate 20s ease infinite;
}

@keyframes particulas2-animate {
    0% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }}



















    .overlay-projeto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-projeto {
    background: #0d0d0d;
    width: 80%;
    max-width: 900px;
    padding: 25px;
    border-radius: 12px;
    position: relative;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.conteudo-projeto {
    display: flex;
    gap: 25px;
    align-items: center;
}

.conteudo-projeto img {
    width: 45%;
    border-radius: 10px;
}

.texto-projeto {
    color: #fff;
}

.projetos-card {
    cursor: pointer;
    transition: transform 0.3s;
}

.projetos-card:hover {
    transform: scale(1.03);
}




.overlay-projeto {
    animation: fade 0.3s ease;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}



@media (max-width: 768px) {
    .conteudo-projeto {
        flex-direction: column;
        text-align: center;
    }

    .conteudo-projeto img {
        width: 100%;
    }
}





.botao-git {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #044c08bd;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-git:hover {
    background: #241e3c;
    transform: scale(1.05);
}



.botao-git {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #044c08bd;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botao-git:hover {
    background: #241e3c;
    transform: scale(1.05);
}


/*====================CERTIFICADO=====================*/

.certificados {
    padding: 6rem 2rem;
}


.certificados-titulo {
    font-family: "Syne", sans-serif;
    font-weight: 800;
    text-shadow: 0 0 10px rgb(157, 183, 255);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.certificados-sub-titulo{
            font-family: "Syne", sans-serif;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 50px;
}

.certificados-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.certificado-card {
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
    text-align: center;
}

.certificado-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}


/*.cert_tittle{    =========== deixa os tittle verdes
            display: inline-flex;
            align-items: center;
            gap: 0.4rem;
            background: rgba(16, 185, 129, 0.15);
            border: 1px solid rgba(16, 185, 129, 0.4);
            color: #52c133;
            padding: 0.45rem 1rem;
            border-radius: 50px;
            font-size: 0.85rem;
            font-weight: 600;
            margin: 0.75rem 0;

}*/



.certificado-imagem {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.certificado-nome {
    
    padding: 1rem;
    font-size: 1rem;
}

.overlay-certificado {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.overlay-certificado img {
    max-width: 90%;
    max-height: 90vh;
    border-radius: 10px;
}







        /* ===================== CONTATO ===================== */

        .section-title {
            font-family: "Syne", sans-serif;
            font-weight: 800;
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
            color: var(--claro);
        }

        .certificados-sub-titulo{
            justify-items: center;
            text-align: center;
        }






        .section-subtitle{
            font-family: "Syne", sans-serif;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 50px;
        }
        .section-title reveal {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
            color: var(--claro);
        }

        .contact-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;
        }

        .contact-card {
            background: rgba(255, 255, 255, 0.05);;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(166, 0, 255, 0.186);;
            border-radius: 20px;
            padding: 2rem;
            text-align: center;
            transition: all 0.35s ease;
            position: relative;
            overflow: hidden;
        }

        .contact-card::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, transparent, rgba(99, 102, 241, 0.12), transparent);
            transition: left 0.6s ease;
        }

        .contact-card:hover::before {
            left: 100%;
        }

        .contact-card:hover {
            transform: translateY(-8px);
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0 25px 50px rgba(99, 102, 241, 0.3);
        }

        .contact-icon {
            width: 72px;
            height: 72px;
            background: linear-gradient(135deg, #6366f1,  #ec4899);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 1.2rem;
            font-size: 1.8rem;
            transition: transform 0.5s ease;
        }

        .contact-card:hover .contact-icon {
            transform: rotate(360deg) scale(1.05);
        }

        .contact-card h3 {
            font-family: 'Syne', sans-serif;
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .contact-card a {
            color: #818cf8;
            text-decoration: none;
            font-weight: 500;
            font-size: 0.9rem;
            transition: color 0.25s ease;
            word-break: break-all;
        }

        .contact-card a:hover {
            color: #ec4899;
        }

        .contact-card .contact-note {
            color: rgba(255, 255, 255, 0.6);
            font-size: 0.82rem;
            margin-top: 0.4rem;
        }




#contato {
    background: none;
    padding: 120px 8%;
    position: relative;
    z-index: 1;
}





.profile-wrapper {
    position: relative;
    display: inline-block;
}

/* badge */
.math-badge {
    position: absolute;
    top: 19px;
    left: 15px;

    width: 50px;
    height: 50px;

    background: linear-gradient(135deg, #02b705, #089213);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: bold;
    color: white;

    border: 3px solid #0f172a;

    box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);

    animation: mathPulse 2.5s ease-in-out infinite;
    z-index: 10;
}

@keyframes mathPulse {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
    }
    50% {
        transform: scale(1.12);
        box-shadow: 0 0 35px rgba(99, 102, 241, 0.9);
    }
}
